body {
  background-color: lightskyblue !important; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.quantity
{
  background-color: gold; margin-top: -25px; margin-left: 155px;
}

.card-reviews
{
  font-size: 0.7rem;
}
.card-title{
  height: 40px;
}